.left_nav li {
  margin-top: 20px;
  display: inline;
  float: left;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.right_nav li {
  margin-top: 20px;
  display: inline;
  float: right;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.left_nav a {
  text-decoration: none;
  color: white;
}

.right_nav a {
  margin-right: 30px;
  text-decoration: none;
  color: white;
}

table {
  margin-left: 0px;
}

td {
  padding: 1px 1px 1px 1px;
}

body {
  font-family:'Prata', serif;
}

button {
  text-align: center;
}

input[type="submit"] {
    visibility: hidden;
    background-color: buttonface;
    border: 2px outset buttonface;
    color: buttontext;
    cursor: default;
    font: -moz-button;
    line-height: normal;
    padding: 0 6px;
    text-align: center;
    text-shadow: none;
    white-space: pre;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

nav {
  height: 75px;
  background-color: #00008B;
  color: white;
}

.title {
  color: white;
  font-size: 20px;
  text-decoration: none;
}


.bubble {
  position: relative;
  background-color: #1E90FF;
  font-size: 23px;
  color: white;
  margin: 0;
  padding:10px;
  text-align:center;
  width:85%;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25);
}
.bubble:after {
  position: absolute;
  display: block;
  content: "";
  border-color: #eee transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left:1em;
}

.user_info {
  font-size: 20px;
  color: white;
  text-decoration: none
}

.log_info{
  color: white;
  text-decoration: none;
  font-size: 20px;
}



