<div class="container">
  <div class="center_field"%>
  <% if @messages %>
  <%= @messages %>
  <% end %>
  <form action="/users/change_password" method="post">
    <input type="hidden" name="_method" value="PUT">
    <h4> Change your password. </h4>
    <input cols="40" type="password" name="password_1">
    <br>

    <h4>Confirm your password.</h4>
    <input cols="40" type="password" name="password_2">
    <br>
    <br>
    <button style="width: 45%; height: 40px">
    Change password
    <input type="submit" value="Change Password">
    </button>
  </form>
  </div>
</div>
