<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
   <ul class="left_nav">
   <li><a class="title" href="/"> Tweeting Out My Closet </a></li>
  </ul>


<ul class="right_nav">
  <% if logged_in? %>
   <li><a class="user_info" href="/users/<%=current_user.id%>">My Closet</a></li>
   <li><a class="user_info" href="/signout">Sign Out</a><li>
   <li><a class="user_info" href="/users/<%=current_user.id%>"><%=current_user.name%></a><li>
  <% else %>
    <li><a href="/login">login</a></li>
  <% end %>
</ul>
  </nav>
  <%= yield %>
</body>
</html>
