<div class= "container">
  <div class="center_field">

    <h3 style="margin-left: 15%">Sign In!</h3>
      <form name="user" action="/users/signin" method="post">
        <input name="email" type="email" placeholder="email">
        <br>
        <br>
        <input name="password" type="password" placeholder="password">
        <br>
        <input class="button" type="submit" value="Sign In">
        <br>
        <br>
        <button style="margin-left: 15%">
        Sign in!
        </button>
      </form>
      <%if @invalid_login %>
      <h3 style="color:red">*** Either Your Username is Wrong, Your Password is Wrong, or Everything is Wrong. ***</h3>
      <% end %>
    </div>
</div>
